$abi:#27bec4;
$narengi:#ff6a37;
$khakestry:#aeaeae;
@media(min-width:1024px) {
    header {
        width: 100%;
        height: 140px;
        border-bottom: 1px solid #d8d6d6;
        .center {
            width: 1024px;
            height: 140px;
            margin: 0px auto;
            .top_bar_menu {
                width: 700px;
                height: 140px;
                .menu {
                    width: 700px;
                    height: 70px;
                    ul {
                        li {
                            height: 46px;
                            margin-top: 20px;
                            .userIcon {
                                width: 19px;
                                height: 20px;
                                margin: 13px 15px 0 -7px;
                            }
                            &::after {
                                width: 1px;
                                height: 15px;
                                top: 15.5px;
                                left: 0px;
                            }
                            a {
                                min-width: 20px;
                                height: 46px;
                                padding: 0 15px;
                                h5 {
                                    margin-top: -4px;
                                }
                            }
                        }
                    }
                }
                .search {
                    width: 700px;
                    height: 70px;
                    form {
                        width: 500px;
                        height: 35px;
                        margin: 2px 15px 0 0;
                        border: 1px solid #dedbdb;
                        &::after {
                            width: 1px;
                            height: 20px;
                            left: 29px;
                            top: 7.5px;
                        }
                        #search {
                            width: 470px;
                            height: 35px;
                            font-size: 9pt;
                            padding-right: 10px;
                        }
                        label {
                            width: 16px;
                            height: 16px;
                            margin: 9.5px 7px;
                        }
                    }
                }
            }
            .item {
                width: 324px;
                height: 140px;
                .logo {
                    width: 130px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    margin-top: 18px;
                }
                .buy_bag {
                    width: 95.5px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    &:hover .icon {
                        margin: 7px 11.5px 0px 11.5px;
                    }
                    .icon {
                        width: 73px;
                        height: 83px;
                        margin: 16px 11.5px 0px 11.5px;
                    }
                    strong {
                        font-size: 8pt;
                        margin-top: 5px;
                        i {
                            padding: 0 3px 0 1px;
                        }
                    }
                    span {
                        font-size: 9pt;
                    }
                }
                .contact {
                    width: 95.5px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    .icon {
                        width: 64px;
                        height: 52px;
                        margin: 29px 15.5px 0px 15.5px;
                    }
                }
            }
        }
    }
    .sliders {
        width: 100%;
        height: 389px;
        .center {
            width: 1024px;
            height: 387px;
            margin: 0px auto;
            .right {
                width: 780px;
                height: 387px;
                .slider {
                    width: 780px;
                    height: 277px;
                    margin-top: 27px;
                    .item {
                        width: 197px;
                        height: 277px;
                        .btn_item {
                            width: 195px;
                            height: 68px;
                            border-top: 1px solid #f4f4f4;
                            border-right: 2px solid #cccccc;
                            &::after {
                                content: "";
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                            h5 {
                                margin: 12px 10px 0 0;
                            }
                            h6 {
                                margin-right: 10px;
                            }
                        }
                        .active {
                            width: 192px;
                            border-right: 5px solid $abi;
                            &::after {
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                        }
                    }
                    .imgs {
                        width: 583px;
                        height: 277px;
                        .img_item {
                            width: 583px;
                            height: 277px;
                            img {
                                width: 583px;
                                height: 277px;
                            }
                        }
                    }
                }
            }
            .levels {
                width: 780px;
                height: 63px;
                border: 1px solid #dfdfdf;
                margin-top: 20px;
                ul {
                    width: 780px;
                    height: 63px;
                    li {
                        width: 260px;
                        height: 63px;
                        h5 {
                            font-size: 9pt;
                            margin: 14px 5px 0 0;
                        }
                        .level_gift {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_pay {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_check {
                            width: 37px;
                            height: 37px;
                            margin: 13px 14px 13px 0;
                        }
                        &::after {
                            content: "";
                            width: 1px;
                            height: 38px;
                            top: 12px;
                            left: 0px;
                        }
                    }
                }
            }
        }
        .left {
            width: 244px;
            height: 387;
            margin-top: 27px;
            .aparat {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 0 0 10px 0;
            }
            .telegram {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 0 0 10px 0;
            }
            .newslatter {
                width: 205px;
                height: 134px;
                img {
                    width: 89px;
                    height: 47px;
                    margin: 10px 58px 0 58px;
                }
                p {
                    width: 178px;
                    height: 27px;
                    font-size: 6pt;
                    margin: 3px 13.5px 0 0;
                }
                form {
                    width: 180px;
                    height: 20px;
                    margin: 0px 12.5px;
                    border-radius: 5px;
                    input[type=email] {
                        width: 144px;
                        height: 20px;
                        margin-left: 28px;
                        &::placeholder {
                            font-size: 8pt;
                            margin-left: 0px;
                        }
                    }
                    &::after {
                        width: 1px;
                        height: 8px;
                        top: 6px;
                        left: 25px;
                    }
                    &::before {
                        width: 11px;
                        height: 9px;
                        top: 6px;
                        left: 9px;
                    }
                    input[type=submit] {
                        width: 40px;
                        height: 16px;
                        margin: 6px 70px 0px 70px;
                    }
                }
            }
        }
    }
    .line {
        width: 1024px;
        height: 5px;
        margin: 30px auto 10px auto;
        .title-gift {
            width: 100px;
            height: 30px;
            top: -14px;
            right: 35px;
            i.icon {
                width: 23px;
                height: 25px;
                margin: 2 15px 0 0;
            }
            h4 {
                margin: 5px 10px 0 0;
            }
        }
    }
    .gifts {
        width: 100%;
        height: 160px;
        .center {
            width: 1024px;
            height: 160px;
            margin: 0 auto;
            .gift-box {
                width: 1024px;
                height: 200px;
                .next {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    right: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                .prev {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    left: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                ul {
                    li {
                        width: 246px;
                        height: 120px;
                        margin: 30px 10px 0 0;
                        &:first-child {
                            margin: 30px 5px 0 0;
                        }
                        .image {
                            width: 100px;
                            height: 100px;
                            margin: 10px;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                        .text {
                            width: 118.5px;
                            height: 100px;
                            margin: 10px 0 0 0;
                            .title {
                                width: 113.5px;
                                margin-left: 5px;
                                h2 {
                                    font-size: 8pt;
                                }
                            }
                            p {
                                width: 113.5px;
                                margin-left: 5px;
                                strong {
                                    font-size: 6pt;
                                }
                                span {
                                    font-size: 7pt;
                                }
                            }
                            .moderIcon {
                                width: 20px;
                                height: 20px;
                                margin: 10px 10px 0 0;
                                .more {
                                    width: 20px;
                                    height: 20px;
                                }
                                .addCard {
                                    width: 20px;
                                    height: 20px;
                                }
                                .like {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 80px;
        .center {
            width: 1024px;
            height: 80px;
            margin: 0 auto;
            .right {
                width: 954px;
                height: 80px;
                ul {
                    margin-top: 5px;
                    li {
                        a {
                            min-width: 10px;
                            padding: 0 20px;
                            font-size: 10pt;
                        }
                        &:first-child a {
                            padding: 0 0 0 20px;
                        }
                        &::after {
                            width: 1px;
                            height: 12px;
                            top: 5px;
                            left: 0px;
                        }
                    }
                }
                p {
                    width: 954px;
                    font-size: 9pt;
                    margin-top: 5px;
                }
            }
            .left {
                width: 70px;
                height: 80px;
                img {
                    width: 70px;
                    height: 55px;
                    margin: 12.5px 0;
                }
            }
        }
    }
}

@media(max-width:1024px) {
    header {
        width: 100%;
        height: 140px;
        border-bottom: 1px solid #d8d6d6;
        .center {
            width: 1024px;
            height: 140px;
            margin: 0px auto;
            .top_bar_menu {
                width: 700px;
                height: 140px;
                .menu {
                    width: 700px;
                    height: 70px;
                    ul {
                        li {
                            height: 46px;
                            margin-top: 20px;
                            .userIcon {
                                width: 19px;
                                height: 20px;
                                margin: 13px 15px 0 -7px;
                            }
                            &::after {
                                width: 1px;
                                height: 15px;
                                top: 15.5px;
                                left: 0px;
                            }
                            a {
                                min-width: 20px;
                                height: 46px;
                                padding: 0 15px;
                                h5 {
                                    margin-top: -4px;
                                }
                            }
                        }
                    }
                }
                .search {
                    width: 700px;
                    height: 70px;
                    form {
                        width: 500px;
                        height: 35px;
                        margin: 2px 15px 0 0;
                        border: 1px solid #dedbdb;
                        &::after {
                            width: 1px;
                            height: 20px;
                            left: 29px;
                            top: 7.5px;
                        }
                        #search {
                            width: 470px;
                            height: 35px;
                            font-size: 9pt;
                            padding-right: 10px;
                        }
                        label {
                            width: 16px;
                            height: 16px;
                            margin: 9.5px 7px;
                        }
                    }
                }
            }
            .item {
                width: 324px;
                height: 140px;
                .logo {
                    width: 130px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    margin-top: 18px;
                }
                .buy_bag {
                    width: 95.5px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    &:hover .icon {
                        margin: 7px 11.5px 0px 11.5px;
                    }
                    .icon {
                        width: 73px;
                        height: 83px;
                        margin: 16px 11.5px 0px 11.5px;
                    }
                    strong {
                        font-size: 8pt;
                        margin-top: 5px;
                        i {
                            padding: 0 3px 0 1px;
                        }
                    }
                    span {
                        font-size: 9pt;
                    }
                }
                .contact {
                    width: 95.5px;
                    height: 140px;
                    border-right: 1px solid #d8d6d6;
                    .icon {
                        width: 64px;
                        height: 52px;
                        margin: 29px 15.5px 0px 15.5px;
                    }
                }
            }
        }
    }
    .sliders {
        width: 100%;
        height: 389px;
        .center {
            width: 1024px;
            height: 387px;
            margin: 0px auto;
            .right {
                width: 780px;
                height: 387px;
                .slider {
                    width: 780px;
                    height: 277px;
                    margin-top: 27px;
                    .item {
                        width: 197px;
                        height: 277px;
                        .btn_item {
                            width: 195px;
                            height: 68px;
                            border-top: 1px solid #f4f4f4;
                            border-right: 2px solid #cccccc;
                            &::after {
                                content: "";
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                            h5 {
                                margin: 12px 10px 0 0;
                            }
                            h6 {
                                margin-right: 10px;
                            }
                        }
                        .active {
                            width: 192px;
                            border-right: 5px solid $abi;
                            &::after {
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                        }
                    }
                    .imgs {
                        width: 583px;
                        height: 277px;
                        .img_item {
                            width: 583px;
                            height: 277px;
                            img {
                                width: 583px;
                                height: 277px;
                            }
                        }
                    }
                }
            }
            .levels {
                width: 780px;
                height: 63px;
                border: 1px solid #dfdfdf;
                margin-top: 20px;
                ul {
                    width: 780px;
                    height: 63px;
                    li {
                        width: 260px;
                        height: 63px;
                        h5 {
                            font-size: 9pt;
                            margin: 14px 5px 0 0;
                        }
                        .level_gift {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_pay {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_check {
                            width: 37px;
                            height: 37px;
                            margin: 13px 14px 13px 0;
                        }
                        &::after {
                            content: "";
                            width: 1px;
                            height: 38px;
                            top: 12px;
                            left: 0px;
                        }
                    }
                }
            }
        }
        .left {
            width: 244px;
            height: 387;
            margin-top: 27px;
            .aparat {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 0 0 10px 0;
            }
            .telegram {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 0 0 10px 0;
            }
            .newslatter {
                width: 205px;
                height: 134px;
                img {
                    width: 89px;
                    height: 47px;
                    margin: 10px 58px 0 58px;
                }
                p {
                    width: 178px;
                    height: 27px;
                    font-size: 6pt;
                    margin: 3px 13.5px 0 0;
                }
                form {
                    width: 180px;
                    height: 20px;
                    margin: 0px 12.5px;
                    border-radius: 5px;
                    input[type=email] {
                        width: 144px;
                        height: 20px;
                        margin-left: 28px;
                        &::placeholder {
                            font-size: 8pt;
                            margin-left: 0px;
                        }
                    }
                    &::after {
                        width: 1px;
                        height: 8px;
                        top: 6px;
                        left: 25px;
                    }
                    &::before {
                        width: 11px;
                        height: 9px;
                        top: 6px;
                        left: 9px;
                    }
                    input[type=submit] {
                        width: 40px;
                        height: 16px;
                        margin: 6px 70px 0px 70px;
                    }
                }
            }
        }
    }
    .line {
        width: 1024px;
        height: 5px;
        margin: 30px auto 10px auto;
        .title-gift {
            width: 100px;
            height: 30px;
            top: -14px;
            right: 35px;
            i.icon {
                width: 23px;
                height: 25px;
                margin: 2 15px 0 0;
            }
            h4 {
                margin: 5px 10px 0 0;
            }
        }
    }
    .gifts {
        width: 100%;
        height: 160px;
        .center {
            width: 1024px;
            height: 160px;
            margin: 0 auto;
            .gift-box {
                width: 1024px;
                height: 200px;
                .next {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    right: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                .prev {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    left: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                ul {
                    li {
                        width: 246px;
                        height: 120px;
                        margin: 30px 10px 0 0;
                        &:first-child {
                            margin: 30px 5px 0 0;
                        }
                        .image {
                            width: 100px;
                            height: 100px;
                            margin: 10px;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                        .text {
                            width: 118.5px;
                            height: 100px;
                            margin: 10px 0 0 0;
                            .title {
                                width: 113.5px;
                                margin-left: 5px;
                                h2 {
                                    font-size: 8pt;
                                }
                            }
                            p {
                                width: 113.5px;
                                margin-left: 5px;
                                strong {
                                    font-size: 6pt;
                                }
                                span {
                                    font-size: 7pt;
                                }
                            }
                            .moderIcon {
                                width: 20px;
                                height: 20px;
                                margin: 10px 10px 0 0;
                                .more {
                                    width: 20px;
                                    height: 20px;
                                }
                                .addCard {
                                    width: 20px;
                                    height: 20px;
                                }
                                .like {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 80px;
        .center {
            width: 1024px;
            height: 80px;
            margin: 0 auto;
            .right {
                width: 954px;
                height: 80px;
                ul {
                    margin-top: 5px;
                    li {
                        a {
                            min-width: 10px;
                            padding: 0 20px;
                            font-size: 10pt;
                        }
                        &:first-child a {
                            padding: 0 0 0 20px;
                        }
                        &::after {
                            width: 1px;
                            height: 12px;
                            top: 5px;
                            left: 0px;
                        }
                    }
                }
                p {
                    width: 954px;
                    font-size: 9pt;
                    margin-top: 5px;
                }
            }
            .left {
                width: 70px;
                height: 80px;
                img {
                    width: 70px;
                    height: 55px;
                    margin: 12.5px 0;
                }
            }
        }
    }
}

@media(max-width:996px) {
    header {
        width: 100%;
        height: 125px;
        border-bottom: 1px solid #d8d6d6;
        .center {
            width: 800px;
            height: 120px;
            margin: 0px auto;
            .top_bar_menu {
                width: 450px;
                height: 120px;
                .menu {
                    width: 450px;
                    height: 60px;
                    ul {
                        font-size: 7pt;
                        li {
                            height: 36px;
                            margin-top: 20px;
                            .userIcon {
                                width: 17px;
                                height: 18px;
                                margin: 7px 7px 0 -7px;
                            }
                            &::after {
                                width: 1px;
                                height: 15px;
                                top: 15.5px;
                                left: 0px;
                            }
                            a {
                                min-width: 20px;
                                height: 46px;
                                padding: 0 15px;
                                h4 {
                                    margin-top: 5px;
                                }
                                h5 {
                                    margin-top: 3px;
                                }
                            }
                        }
                    }
                }
                .search {
                    width: 450px;
                    height: 30px;
                    form {
                        width: 400px;
                        height: 30px;
                        margin: 2px 15px 0 0;
                        border: 1px solid #dedbdb;
                        &::after {
                            width: 1px;
                            height: 20px;
                            left: 29px;
                            top: 3.5px;
                        }
                        #search {
                            width: 400px;
                            height: 30px;
                            font-size: 8pt;
                            padding-right: 5px;
                        }
                        label {
                            width: 16px;
                            height: 16px;
                            margin: -22px 7px;
                        }
                    }
                }
            }
            .item {
                width: 350px;
                height: 120px;
                .logo {
                    width: 130px;
                    height: 120px;
                    border-right: 1px solid #d8d6d6;
                    margin-top: 0;
                }
                .buy_bag {
                    width: 95.5px;
                    height: 120px;
                    border-right: 1px solid #d8d6d6;
                    &:hover .icon {
                        margin: 7px 11.5px 0px 11.5px;
                    }
                    .icon {
                        width: 73px;
                        height: 83px;
                        margin: 0px 11.5px 0px 11.5px;
                    }
                    strong {
                        font-size: 8pt;
                        margin-top: 5px;
                        i {
                            padding: 0 3px 0 1px;
                        }
                    }
                    span {
                        font-size: 9pt;
                    }
                }
                .contact {
                    width: 95.5px;
                    height: 120px;
                    border-right: 1px solid #d8d6d6;
                    .icon {
                        width: 64px;
                        height: 52px;
                        margin: 29px 15.5px 0px 15.5px;
                    }
                }
            }
        }
    }
    .sliders {
        width: 100%;
        height: 540px;
        .center {
            width: 800px;
            height: 540px;
            margin: 0px auto;
            .right {
                width: 780px;
                height: 389px;
                margin: 0 10px;
                .slider {
                    width: 780px;
                    height: 277px;
                    margin-top: 27px;
                    .item {
                        width: 197px;
                        height: 277px;
                        .btn_item {
                            width: 195px;
                            height: 68px;
                            border-top: 1px solid #f4f4f4;
                            border-right: 2px solid #cccccc;
                            &::after {
                                content: "";
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                            h5 {
                                margin: 12px 10px 0 0;
                            }
                            h6 {
                                margin-right: 10px;
                            }
                        }
                        .active {
                            width: 192px;
                            border-right: 5px solid $abi;
                            &::after {
                                width: 16px;
                                height: 20px;
                                top: 22px;
                                left: 14px;
                            }
                        }
                    }
                    .imgs {
                        width: 583px;
                        height: 277px;
                        .img_item {
                            width: 583px;
                            height: 277px;
                            img {
                                width: 583px;
                                height: 277px;
                            }
                        }
                    }
                }
            }
            .levels {
                width: 780px;
                height: 63px;
                border: 1px solid #dfdfdf;
                margin-top: 20px;
                ul {
                    width: 780px;
                    height: 63px;
                    li {
                        width: 260px;
                        height: 63px;
                        h5 {
                            font-size: 9pt;
                            margin: 14px 5px 0 0;
                        }
                        .level_gift {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_pay {
                            width: 40px;
                            height: 34px;
                            margin: 14px 14px 14px 0;
                        }
                        .level_check {
                            width: 37px;
                            height: 37px;
                            margin: 13px 14px 13px 0;
                        }
                        &::after {
                            content: "";
                            width: 1px;
                            height: 38px;
                            top: 12px;
                            left: 0px;
                        }
                    }
                }
            }
        }
        .left {
            width: 780px;
            height: 387px;
            margin: 10px 10px;
            .aparat {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 15px 41.25px 10px 41.25px;
            }
            .telegram {
                width: 205px;
                height: 103px;
                border: 1px solid #dfdfdf;
                margin: 15px 41.25px 10px 0;
            }
            .newslatter {
                width: 205px;
                height: 134px;
                img {
                    width: 89px;
                    height: 47px;
                    margin: 10px 58px 0 58px;
                }
                p {
                    width: 178px;
                    height: 27px;
                    font-size: 6pt;
                    margin: 3px 13.5px 0 0;
                }
                form {
                    width: 180px;
                    height: 20px;
                    margin: 0px 12.5px;
                    border-radius: 5px;
                    input[type=email] {
                        width: 144px;
                        height: 20px;
                        margin-left: 28px;
                        &::placeholder {
                            font-size: 8pt;
                            margin-left: 0px;
                        }
                    }
                    &::after {
                        width: 1px;
                        height: 8px;
                        top: 6px;
                        left: 25px;
                    }
                    &::before {
                        width: 11px;
                        height: 9px;
                        top: 6px;
                        left: 9px;
                    }
                    input[type=submit] {
                        width: 40px;
                        height: 16px;
                        margin: 6px 70px 0px 70px;
                    }
                }
            }
        }
    }
    .line {
        width: 800px;
        height: 5px;
        margin: 30px auto 10px auto;
        .title-gift {
            width: 100px;
            height: 30px;
            top: -14px;
            right: 35px;
            i.icon {
                width: 23px;
                height: 25px;
                margin: 2 15px 0 0;
            }
            h4 {
                margin: 5px 10px 0 0;
            }
        }
    }
    .gifts {
        width: 100%;
        height: 160px;
        .center {
            width: 800px;
            height: 160px;
            margin: 0 auto;
            .gift-box {
                width: 800px;
                height: 200px;
                .next {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    right: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                .prev {
                    width: 20px;
                    height: 60px;
                    top: 60px;
                    left: 3px;
                    .icon {
                        width: 14px;
                        height: 23px;
                        margin: 18.5px 3px 0 0;
                    }
                }
                ul {
                    li {
                        width: 194px;
                        height: 120px;
                        margin: 30px 5px 0 0;
                        &:first-child {
                            margin: 30px 2px 0 0;
                        }
                        .image {
                            width: 100px;
                            height: 100px;
                            margin: 10px;
                            img {
                                width: 100px;
                                height: 100px;
                            }
                        }
                        .text {
                            width: 74px;
                            height: 100px;
                            margin: 10px 0 0 0;
                            .title {
                                width: 74px;
                                margin-left: 5px;
                                h2 {
                                    font-size: 8pt;
                                }
                            }
                            p {
                                width: 74px;
                                margin-left: 5px;
                                strong {
                                    font-size: 6pt;
                                }
                                span {
                                    font-size: 7pt;
                                }
                            }
                            .moderIcon {
                                width: 20px;
                                height: 20px;
                                margin: 10px 2px 0 0;
                                .more {
                                    width: 20px;
                                    height: 20px;
                                }
                                .addCard {
                                    width: 20px;
                                    height: 20px;
                                }
                                .like {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        width: 100%;
        height: 80px;
        .center {
            width: 800px;
            height: 80px;
            margin: 0 auto;
            .right {
                width: 730px;
                height: 80px;
                ul {
                    margin-top: 5px;
                    li {
                        a {
                            min-width: 10px;
                            padding: 0 20px;
                            font-size: 10pt;
                        }
                        &:first-child a {
                            padding: 0 0 0 20px;
                        }
                        &::after {
                            width: 1px;
                            height: 12px;
                            top: 5px;
                            left: 0px;
                        }
                    }
                }
                p {
                    width: 730px;
                    font-size: 9pt;
                    margin-top: 5px;
                }
            }
            .left {
                width: 70px;
                height: 80px;
                img {
                    width: 70px;
                    height: 55px;
                    margin: 12.5px 0;
                }
            }
        }
    }
}